header {
  width: 100%;
  background: $grey;

  ul {
    padding: 24px;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    color: #fff;
  }
}

.help-link {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 24px;
  line-height: 64px;
}
